<!doctype html>
<!--[if lte IE 8 ]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<base href="[(site_url)]" />
	<meta charset="utf-8" />

	<title>[(site_name)] - [*pagetitle*]</title>
	<!-- change RSS ID or remove next line -->
	<link rel="alternate" type="application/rss+xml" title="[[++site_name]] RSS Feed" href="[[~1]]">
	<meta name="description" content="[*introtext*]">
	<meta name="author" content="[+phx:if=`[*editedby*]`:ne=``:then=`[*editedby*]`:else=`[*createdby*]`+]" />

	<!-- sets viewport to device-with for mobile devices  -->
	<meta name="viewport" content="wiwidth=device-width">

	<link rel="stylesheet" href="[(site_url)]assets/templates/main/css/normalize.css" media="all">
	<link rel="stylesheet" href="[(site_url)]assets/templates/main/css/main.css" media="all">

	<script src="[(site_url)]assets/templates/main/js/vendor/modernizr.custom.2.6.2.min.js"></script>
</head>
<body>

	<header class="container row">
		<!-- use this wrapper for your header of website with logotype, navigation etc. -->
	</header>

	<div class="container row" id="content">​
