		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="[(site_url)]assets/templates/main_fluid_grid/js/vendor/jquery-2.0.2.min.js"><\/script>')</script>

	<script src="[(site_url)]assets/templates/main_fluid_grid/js/plugins.js"></script>
	<script src="[(site_url)]assets/templates/main_fluid_grid/js/main.js"></script>

	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src='//www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>​
